//COLORES PRINCIPALES
$back-nav: #005377;
$color-footer2: #004664;
$color-logo: #6FCD67;
$color-letras-logo: #65B85E;
$back-permisos: #b3ffacb2;
$back-formulario: #d6ffac8e;
$letra-formulario: #318A29; 
$color-dropmenu: #E1FFDF;
$color-blanco: white;
$color-negro: black;
$shadow: 5px 5px rgba(128, 128, 128, 0.774);

//COLORES NAV
$color-hover: $back-nav;
$back-hover: $color-blanco;