@import "medidas";
@import "colors";
@import "permisos";
@import "mixins";

@media (min-width: $breakpoint-movil) and (max-width:720px){
//BODY
body{
    font-family: Arial, Helvetica, sans-serif;
}

//CONTAINER
.container{
    width: $width-80;
    margin: 0px auto
}

//CABECERA
.topnav>img{
    height: 50px;
    width: 50px;
    padding: 15px;
}
.logoA>img,.logoA{
    width: 70%;
    margin-left: 7%;
}
.cabeceraLg{
    display: none;
}
.topnav {
    overflow: hidden;
    background-color: $back-nav;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 2px 2px 2px 1px $back-permisos;
}
.topnav #myLinks {
    display: none;
    width: $width-100;
}
.topnav a {
    color: $color-blanco;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
#myLinks>a{
    background-color: $color-dropmenu;
    color: $back-nav;
    width: $width-100;
}
#myLinks>a:hover{
    background-color: $color-blanco;
}
.icon{
    margin-top: 15px;
    margin-right: 15px;
}
.topnav a.icon {
    background: $back-nav;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
.topnav a:hover {
    background-color: $back-nav;
}
.active {
    background-color: $back-nav;
}
.fotoSM{
    background-image: url("../img/c4.jpg");
    width: $width-100;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
}
.fotoSM>div>h3{
    margin-bottom: 50px;
    font-size: 30px;
    text-align: center;
    width: $width-100;
    color: $color-blanco;
    text-shadow: 3px 3px $color-footer2;
}
.fotoSM>div>a{
    box-shadow: $shadow;
    font-size: 20px;
    padding: 1rem;
    margin-left: 35%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    border: $back-permisos;
    background-color: $back-permisos;
    color: $back-nav;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
    &:hover{
            color: $back-permisos;
            background-color: $back-nav;
            border: $back-nav;
        }
}
//LINKS
a{
    text-decoration: none;
}

//INFORMACIÓN
.infoSM{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.info1SM{
    width: $width-100;
}
.info1SM>h3{
    color: $back-nav;
    text-align: justify;
}
.info1SM>p{
    text-align: justify;
}
.tituloverdeSM{
    color: $color-letras-logo;
}
.info{
    display: none;
}

//PERMISOS-MATRICULACIÓN
hr{
    border-width: 1px;
    border-style: solid;
    max-width: 300px;
    color: $back-nav;
}
.permisos{
    background-color: $back-permisos;
    padding: 5px;
    margin-top: 30px;
}
.permisos>h1{
    color: $back-nav;
}
.figures{
    display: flex;
    flex-wrap: wrap;
}
figure{
    width: 90%;
    margin-left: 10%;
    &:hover{
        transform:scale(1.1);
        -webkit-transform:scale(1.1);
        -moz-transform:scale(1.1);
        -ms-transform:scale(1.1);
        -o-transform:scale(1.1);
}
}
figure>a>img{
    width: $width-100;
}

//NUESTROS PACKS
.packs{
    color: $back-nav;
    margin-top: 30px;
    text-align: justify;
}
.packs>article{
    width: $width-100;
    padding: 15px;
}
article>div{
    display: flex;
    flex-wrap: wrap;
}
.packs>article>div>h2{
    width: $width-80;
}
.packs>article>div>h1{
    width: 20%;
    color: $color-logo;
    &:hover{
        @include duration(1);
        @include girar(1);
    }
}

//LOCALIZACIÓN
.local{
    margin-top: 30px;
    color: $back-nav;
}
.local>a{
    width: $width-100;
}
.local>div{
    width: $width-100;
    margin-left: 2%;
    margin-top: 30px;
}
.local>a>img{
    width: $img-width;
}
.local>div>div>img{
    width: 23px;
    height: 23px;
    margin-top: 15px;
} 
.local>div>div>h2{
    width: 90%;
    font-size: 20px;
}
.local>div>div{
    display: flex;
    flex-wrap: wrap;
}
.local>div>h2{
    padding: 20px;
}
.local>div>a{
    margin-left: 60%;
    background-color: $back-nav;
    color: $color-blanco;
    padding: 1rem;
    box-shadow: $shadow;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
    &:hover{
        background-color: $color-logo;
    }
}

//SLIDER
#slider>li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.slider{
position: relative;
width: $width-100;
height: 300px;
margin-top: 50px;
}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background:#fff;
}

ul.slider li img{
width: $width-100;
height: 300px;
object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1; 
}

ul.slider li:target {
    opacity: 1; 
}

.menu{
text-align: center;
margin: 20px;
}

.menu li{
display: inline-block;
text-align: center;
}

.menu li a{
display: inline-block;
color: white;
text-decoration: none;
background-color: grey;
padding: 10px;
width: 20px;
height: 20px;
font-size: 20px;
border-radius: $width-100;
-webkit-border-radius: $width-100;
-moz-border-radius: $width-100;
-ms-border-radius: $width-100;
-o-border-radius: $width-100;
}

//FORMULARIO
.formulario{
    display: none;
}
.formularioSM{
    margin-top: 30px;
    padding: 35px;
    background-color: $back-formulario;
}
.formularioSM>h1{
    color: $back-nav;
}
.formularioSM>h3{
    color: $letra-formulario;
}
.formularioSM>h1,.formularioSM>h3{
    text-align: center;
}
.formularioSM>div{
    margin-left: 20px;
    margin-bottom: 25px;
    width: $width-100;
    display: flex;
    flex-wrap: wrap;
}
.formularioSM>div>div{
    width: $width-50;
}
.opciones>h5{
    width: 93%;
    color: $back-nav;
}
.formularioSM>button{
    padding: 1rem;
    width: 150px;
    background-color: $back-nav;
    color: $color-blanco;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
    margin-left: 60%;
    &:hover{
        background-color: $letra-formulario;
    }
}
label{
    font-weight: bold;
}
.input,select,textarea{
    margin-top: 10px;
    width: 90%;
}
label,input,select,option{
    color: $back-nav;
    font-size: 20px;
}

//PREGUNTAS FRECUENTES
#profesionales{
    margin-top: 50px;
}
#profesionales>h1{
    color: $back-nav;
    text-align: center;
}
#profesionales>div>h3{
    padding: 0.5rem;
    text-align: center;
    background-color: $back-permisos;
    color: $back-nav;
    width: $width-100;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}
#profesionales>div>div>p{
    text-align: justify;
    width: $width-100;
}
.p1,.p2,.p3,.p4,.p5 {
    position: relative;
    display: inline-block;
    width: $width-100;
}

.dropdown-p1,.dropdown-p2,.dropdown-p3,.dropdown-p4,.dropdown-p5 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.p1:hover .dropdown-p1,.p2:hover .dropdown-p2,.p3:hover .dropdown-p3,
.p4:hover .dropdown-p4,.p5:hover .dropdown-p5 {
    display: block;
}

//FOOTER
.footerLg{
    display: none;
}
footer{
    background-color: $back-nav;
}
.Mm{
    display: flex;
    flex-wrap: wrap;
    color: $color-blanco;
    padding: 15px;
}
.miniMenu{
    width: 40%;
}
#icons{
    width: 50%;
}
#cocheMini{
    width: 30px;
    height: 30px;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 10px;
}
#logo2{
    width: 200px;
    height: 50px;
    padding-bottom: 20px;
}
.miniMenu>div{
    width: $width-100;
    padding-left: 5%;
}
.miniMenu>div>a,#telef>a{
    color: $color-blanco;
}
#icons>img{
    width: 5%;
    height: 20px;
    margin-right: 5px;
    margin-top: 10px;
}
#icons>p,#icons>a>p,#telef{
    font-size: 13px;
    width: 92%;
}
#telef{
    display: flex;
    flex-wrap: wrap;
}
#icons{
    display: flex;
    flex-wrap: wrap;
}
.barrita{
    margin-left: 10px;
    margin-right: 10px;
}
.footer2>div>p{
    margin-top: 15px;
}
.footer2{
    padding: 0.8rem;
    background-color: $color-footer2;
    color: $color-blanco;
    font-size: 0.6rem;
    display: flex;
    flex-wrap: wrap;
}
.footer2>div{
    width: $width-50;
}
.footer2>div>img{
    height: 30px;
    width: 30px;
}
.email{
    margin-left: 60%;
}

//INFO PERMISOS
.infoPermisos{
    margin-top: 50px;
}
.turismo>h1{
    text-align: center;
    color: $back-nav;
}
.turismo>h2{
    text-align: right;
    color: $letra-formulario;
}
.infoPermisos>div{
    width: $width-100;
}
.turismo>h3{
    text-align: justify;
    color: $back-nav;
}
.infoPermisos>div>img{
    width: $width-100;
}

//DESCRIPCIÓN PERMISOS
.descripcionPermisos{
    background-color: $back-formulario;
    padding: 30px;
}
.descripcionPermisos>h1{
    color: $back-nav;
    text-align: center;
}
.descripcionPermisos2>div{
    width: $width-100;
    padding-left: 3%;
}
.descripcionPermisos2>div>h4,.descripcionPermisos2>div>div>h4{
    color: $letra-formulario;
}
.descripcionPermisos2>div>ul,.descripcionPermisos2>div>div>ul{
    color: $back-nav;
}
}

@media (min-width: $breakpoint-tablet) and (max-width: 992px) {
    //BODY
    body{
        font-family: Arial, Helvetica, sans-serif;
    }
    .cabeceraSm,.infoSM{
        display: none;
    }

    //CONTAINER
    .container{
        width: $width-80;
        margin: 0px auto
    }

    //CABECERA
    .inicioCabecera{
        display: flex;
        flex-wrap: wrap;
    }
    .inicioCabecera>div{
        display: flex;
        flex-wrap: wrap;
        width: 45%;
        height: 80px;
    }
    .imgLogo{
        width: 20%;
    }
    .imgLogo2{
        width: 70%;
        margin-left: 10px;
    }
    .imgLogo2>img{
        width: $width-100;
        height: 80px;
    }
    .menu2{
        margin-top: 20px;
        margin-left: 10%;
    }
    .menu2>div{
        display: flex;
        flex-wrap: wrap;
        font-size: 10px;
    }
    .menu2>div>img{
        width: 23px;
        height: 23px;
        margin-top: 8px;
    }
    .menu2>div>a{
        margin-left: 30px;
    }
    .imgCabecera{
        background-image: url("../img/c4.jpg");
        width: $width-100;
        height: 400px;
        margin-top: 0px;
        background-repeat: no-repeat;
        background-position: center;
    }
    .imgCabecera>h3,.imgCabecera>h1{
        margin-top: 15px;
        text-align: center;
        width: $width-100;
    }
    .imgCabecera>h3{
        margin-bottom: 50px;
        font-size: 30px;
        color: $color-blanco;
        text-shadow: 3px 3px $back-nav;
    }
    .imgCabecera>a{
        box-shadow: $shadow;
        font-size: 20px;
        padding: 1rem;
        margin-left: 40%;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: bold;
        border: $back-permisos;
        background-color: $back-permisos;
        color: $back-nav;
        border-radius: 5%;
        -webkit-border-radius: 5%;
        -moz-border-radius: 5%;
        -ms-border-radius: 5%;
        -o-border-radius: 5%;
        &:hover{
                color: $back-permisos;
                background-color: $back-nav;
                border: $back-nav;
            }
    }

    //LINKS
    a{
        text-decoration: none;
    }

    //BARRA DE NAVEGACIÓN
    nav{
        background-color: $back-nav;
        box-shadow: 2px 2px 2px 1px $back-permisos;
        a{
            text-decoration: none;
            display: inline-block;
            color: $color-blanco;
            padding: 1rem;
            padding-left: 1rem;
            padding-right: 1rem;

            &.active{
                color: $color-hover;
                background-color: $back-hover;
                font-weight: bolder;
            }
            &:hover{
                color: $color-hover;
                background-color: $back-hover;
                font-weight: bolder;
            }
        }
    }
    .dropbtn {
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }
    .dropdown {
        position: relative;
        display: inline-block;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: $color-dropmenu;
        min-width: 160px;
        z-index: 1;
    }
    .dropdown-content a {
        text-align: center;
        color: $back-nav;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .dropdown-content a:hover {background-color: $color-blanco}
    .dropdown:hover .dropdown-content {
        display: block;
    }

    //INFORMACIÓN
    .info{
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
    }
    .info1{
        width: 60%;
    }
    .info2{
        width: 40%;
    }
    .info1>h3{
        color: $back-nav;
        text-align: justify;
    }
    .info1>p{
        text-align: justify;
    }
    .info2>img{
        box-shadow: $shadow;
        height: auto;
        width: $width-100;
        margin-left: 5%;
        margin-top: 20%;
    }
    .tituloverde{
        color: $color-letras-logo;
    }

    //PERMISOS-MATRICULACIÓN
    hr{
        border-width: 1px;
        border-style: solid;
        max-width: 300px;
        color: $back-nav;
    }
    .permisos{
        background-color: $back-permisos;
        padding: 5px;
        margin-top: 30px;
    }
    .permisos>h1{
        color: $back-nav;
    }
    .figures{
        display: flex;
        flex-wrap: wrap;
    }
    figure{
        width: 30%;
        margin-left: 10%;
        &:hover{
            transform:scale(1.3);
            -webkit-transform:scale(1.3);
            -moz-transform:scale(1.3);
            -ms-transform:scale(1.3);
            -o-transform:scale(1.3);
}
    }
    figure>a>img{
        width: $width-100;
    }

    //NUESTROS PACKS
    .packs{
        color: $back-nav;
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        text-align: justify;
    }
    .packs>article{
        width: 28%;
        padding: 10px;
    }
    .packs>article>div{
        display: flex;
        flex-wrap: wrap;
    }
    .packs>article>div>h2{
        width: 70%;
        margin-right: 3%;

    }
    .packs>article>div>h1{
        width: 20%;
        color: $color-logo;
        &:hover{
            @include duration(1);
            @include girar(1);
        }
    }
    .pack1, .pack2{
        border-right: 1px solid $back-nav;
    }

    //LOCALIZACIÓN
    .local{
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        color: $back-nav;
    }
    .local>a{
        width: 55%;
    }
    .local>div{
        width: 43%;
        margin-left: 2%;
    }
    .local>a>img{
        width: $img-width;
    }
    .local>div>div>img{
        width: 23px;
        height: 23px;
        margin-top: 20px;
    } 
    .local>div>div>h2{
        width: 90%;
    }
    .local>div>div{
        display: flex;
        flex-wrap: wrap;
    }
    .local>div>h2{
        padding: 20px;
    }
    .local>div>a{
        margin-left: 30%;
        background-color: $back-nav;
        color: $color-blanco;
        padding: 1rem;
        box-shadow: $shadow;
        border-radius: 5%;
        -webkit-border-radius: 5%;
        -moz-border-radius: 5%;
        -ms-border-radius: 5%;
        -o-border-radius: 5%;
        &:hover{
            background-color: $color-logo;
        }
    }

    //SLIDER
    #slider>li {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    ul.slider{
    position: relative;
    width: $width-100;
    height: 300px;
    margin-top: 50px;
    }

    ul.slider li {
        position: absolute;
        left: 0px;
        top: 0px;
        opacity: 0;
        width: inherit;
        height: inherit;
        transition: opacity .5s;
        background:#fff;
    }

    ul.slider li img{
    width: $width-100;
    height: 300px;
    object-fit: cover;
    }

    ul.slider li:first-child {
        opacity: 1; 
    }

    ul.slider li:target {
        opacity: 1; 
    }

    .menu{
    text-align: center;
    margin: 20px;
    }

    .menu li{
    display: inline-block;
    text-align: center;
    }

    .menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: grey;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: $width-100;
    -webkit-border-radius: $width-100;
    -moz-border-radius: $width-100;
    -ms-border-radius: $width-100;
    -o-border-radius: $width-100;
    }

    //FORMULARIO
    .formularioSM{
        display: none;
    }
    .formulario{
        margin-top: 30px;
        padding: 35px;
        background-color: $back-formulario;
    }
    .formulario>h1{
        color: $back-nav;
    }
    .formulario>h3{
        color: $letra-formulario;
    }
    .formulario>h1,.formulario>h3{
        text-align: center;
    }
    .formulario>div{
        margin-left: 20px;
        margin-bottom: 25px;
        width: $width-100;
        display: flex;
        flex-wrap: wrap;
    }
    .formulario>div>div{
        width: $width-50;
    }
    .opciones>h5{
        width: 90%;
        color: $back-nav;
    }
    .formulario>div>button{
        padding: 1rem;
        width: 150px;
        background-color: $back-nav;
        color: $color-blanco;
        border-radius: 5%;
        -webkit-border-radius: 5%;
        -moz-border-radius: 5%;
        -ms-border-radius: 5%;
        -o-border-radius: 5%;
        margin-left: 70%;
        &:hover{
            background-color: $letra-formulario;
        }
    }
    label{
        font-weight: bold;
    }
    .input,select,textarea{
        margin-top: 10px;
        width: $width-80;
    }
    label,input,select,option{
        color: $back-nav;
        font-size: 20px;
    }

    //PREGUNTAS FRECUENTES
    #profesionales{
        margin-top: 50px;
    }
    #profesionales>h1{
        color: $back-nav;
        text-align: center;
    }
    #profesionales>div>h3{
        padding: 0.5rem;
        text-align: center;
        background-color: $back-permisos;
        color: $back-nav;
        width: $width-100;
        border-radius: 5%;
        -webkit-border-radius: 5%;
        -moz-border-radius: 5%;
        -ms-border-radius: 5%;
        -o-border-radius: 5%;
    }
    #profesionales>div>div>p{
        text-align: justify;
        width: $width-100;
    }
    .p1,.p2,.p3,.p4,.p5 {
        position: relative;
        display: inline-block;
        width: $width-100;
    }
    
    .dropdown-p1,.dropdown-p2,.dropdown-p3,.dropdown-p4,.dropdown-p5 {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
    }
    
    .p1:hover .dropdown-p1,.p2:hover .dropdown-p2,.p3:hover .dropdown-p3,
    .p4:hover .dropdown-p4,.p5:hover .dropdown-p5 {
        display: block;
    }

    //FOOTER
    .footerSm{
        display: none;
    }
    footer{
        background-color: $back-nav;
    }
    .miniMenu{
        display: flex;
        flex-wrap: wrap;
        color: $color-blanco;
    }
    #cocheMini{
        width: 30px;
        height: 30px;
        padding-top: 30px;
        padding-left: 30px;
        padding-bottom: 30px;
        padding-right: 10px;
    }
    #logo2{
        width: 200px;
        height: 50px;
        padding-bottom: 20px;
    }
    .miniMenu>div{
        width: 30%;
        padding-left: 3%;
    }
    .miniMenu>div>a,#telef>a{
        color: $color-blanco;
    }
    #icons>img{
        width: 5%;
        height: 20px;
        margin-right: 5px;
        margin-top: 10px;
    }
    #icons>p,#icons>a>p,#telef{
        font-size: 13px;
        width: 92%;
    }
    #telef{
        display: flex;
        flex-wrap: wrap;
    }
    #icons{
        display: flex;
        flex-wrap: wrap;
    }
    .barrita{
        margin-left: 10px;
        margin-right: 10px;
    }
    .footer2>div>p{
        margin-top: 15px;
    }
    .footer2{
        padding: 0.8rem;
        background-color: $color-footer2;
        color: $color-blanco;
        font-size: 0.6rem;
        display: flex;
        flex-wrap: wrap;
    }
    .footer2>div{
        width: $width-50;
    }
    .footer2>div>img{
        height: 30px;
        width: 30px;
    }
    .email{
        margin-left: 60%;
    }

    //INFO PERMISOS
    .infoPermisos{
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
    }
    .turismo>h1{
        text-align: center;
        color: $back-nav;
    }
    .turismo>h2{
        text-align: right;
        color: $letra-formulario;
    }
    .infoPermisos>div{
        width: $width-50;
    }
    .turismo>h3{
        text-align: justify;
        color: $back-nav;
    }
    .infoPermisos>div>img{
        width: $width-80;
    }

    //DESCRIPCIÓN PERMISOS
    .descripcionPermisos{
        background-color: $back-formulario;
        padding: 30px;
    }
    .descripcionPermisos>h1{
        color: $back-nav;
        text-align: center;
    }
    .descripcionPermisos2{
        display: flex;
        flex-wrap: wrap;
    }
    .descripcionPermisos2>div{
        width: 45%;
        padding-left: 3%;
    }
    .descripcionPermisos2>div>h4,.descripcionPermisos2>div>div>h4{
        color: $letra-formulario;
    }
    .descripcionPermisos2>div>ul,.descripcionPermisos2>div>div>ul{
        color: $back-nav;
    }
}

@media (min-width: $breakpoint-pc) {
    //BODY
    body{
        font-family: Arial, Helvetica, sans-serif;
    }
    .cabeceraSm,.info1SM{
        display: none;
    }

    //CONTAINER
    .container{
        width: $width-80;
        margin: 0px auto
    }

    //CABECERA
    .inicioCabecera{
        display: flex;
        flex-wrap: wrap;
    }
    .inicioCabecera>div{
        display: flex;
        flex-wrap: wrap;
        width: 45%;
        height: 80px;
    }
    .imgLogo{
        width: 20%;
    }
    .imgLogo2{
        width: $width-80;
        margin-left: 10px;
    }
    .imgLogo2>img{
        width: $width-100;
        height: 80px;
    }
    .menu2{
        margin-top: 20px;
        margin-left: 10%;
    }
    .menu2>div{
        display: flex;
        flex-wrap: wrap;
    }
    .menu2>div>img{
        width: 23px;
        height: 23px;
        margin-top: 17px;
    }
    .menu2>div>a{
        margin-left: 30px;
    }
    .imgCabecera{
        background-image: url("../img/c4.jpg");
        width: $width-100;
        height: 330px;
        margin-top: 0px;
        background-repeat: no-repeat;
        background-position: center;
    }
    .imgCabecera>h3,.imgCabecera>h1{
        margin-top: 15px;
        text-align: center;
        width: $width-100;
    }
    .imgCabecera>h3{
        margin-bottom: 50px;
        font-size: 30px;
        color: $color-blanco;
        text-shadow: 3px 3px $back-nav;
    }
    .imgCabecera>a{
        box-shadow: $shadow;
        font-size: 20px;
        padding: 1rem;
        margin-left: 42%;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: bold;
        border: $back-permisos;
        background-color: $back-permisos;
        color: $back-nav;
        border-radius: 5%;
        -webkit-border-radius: 5%;
        -moz-border-radius: 5%;
        -ms-border-radius: 5%;
        -o-border-radius: 5%;
        &:hover{
                color: $back-permisos;
                background-color: $back-nav;
                border: $back-nav;
            }
    }

    //LINKS
    a{
        text-decoration: none;
    }

    //BARRA DE NAVEGACIÓN
    nav{
        background-color: $back-nav;
        box-shadow: 2px 2px 2px 1px $back-permisos;
        a{
            text-decoration: none;
            display: inline-block;
            color: $color-blanco;
            padding: 1rem;
            padding-left: 1rem;
            padding-right: 1rem;

            &.active{
                color: $color-hover;
                background-color: $back-hover;
                font-weight: bolder;
            }
            &:hover{
                color: $color-hover;
                background-color: $back-hover;
                font-weight: bolder;
            }
        }
    }
    .dropbtn {
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }
    .dropdown {
        position: relative;
        display: inline-block;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: $color-dropmenu;
        min-width: 160px;
        z-index: 1;
    }
    .dropdown-content a {
        text-align: center;
        color: $back-nav;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .dropdown-content a:hover {background-color: $color-blanco}
    .dropdown:hover .dropdown-content {
        display: block;
    }

    //INFORMACIÓN
    .info{
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
    }
    .info1{
        width: 60%;
    }
    .info2{
        width: 40%;
    }
    .info1>h3{
        color: $back-nav;
    }
    .info1>p{
        text-align: justify;
    }
    .info2>img{
        box-shadow: $shadow;
        height: auto;
        width: $width-100;
        margin-left: 5%;
        margin-top: 15%;
    }
    .tituloverde{
        color: $color-letras-logo;
    }

    //PERMISOS-MATRICULACIÓN
    $img-width: $width-100;
    $figure-width:20%;
    $lineas-width: 30%;
    hr{
        border-width: 1px;
        border-style: solid;
        max-width: 300px;
        color: $back-nav;
    }
    .permisos{
        background-color: $back-permisos;
        padding: 5px;
        margin-top: 30px;
    }
    .permisos>h1{
        color: $back-nav;
    }
    .figures{
        display: flex;
        flex-wrap: wrap;
    }
    figure{
        width: $figure-width;
        margin-left: 60px;
        &:hover{
            transform:scale(1.3);
            -webkit-transform:scale(1.3);
            -moz-transform:scale(1.3);
            -ms-transform:scale(1.3);
            -o-transform:scale(1.3);
}
    }
    figure>a>img{
        width: $img-width;
    }

    //NUESTROS PACKS
    .packs{
        color: $back-nav;
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        text-align: justify;
    }
    .packs>article{
        width: 30%;
        padding: 10px;
    }
    .packs>article>div{
        display: flex;
        flex-wrap: wrap;
    }
    .packs>article>div>h2{
        width: 70%;
        margin-right: 10%;

    }
    .packs>article>div>h1{
        width: 20%;
        color: $color-logo;
        &:hover{
            @include duration(1);
            @include girar(1);
        }
    }
    .pack1, .pack2{
        border-right: 1px solid $back-nav;
    }

    //LOCALIZACIÓN
    .local{
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        color: $back-nav;
    }
    .local>a{
        width: 55%;
    }
    .local>div{
        width: 43%;
        margin-left: 2%;
    }
    .local>a>img{
        width: $img-width;
    }
    .local>div>div>img{
        width: 23px;
        height: 23px;
        margin-top: 20px;
    } 
    .local>div>div>h2{
        width: 90%;
    }
    .local>div>div{
        display: flex;
        flex-wrap: wrap;
    }
    .local>div>h2{
        padding: 20px;
    }
    .local>div>a{
        margin-left: $width-50;
        background-color: $back-nav;
        color: $color-blanco;
        padding: 1rem;
        box-shadow: $shadow;
        border-radius: 5%;
        -webkit-border-radius: 5%;
        -moz-border-radius: 5%;
        -ms-border-radius: 5%;
        -o-border-radius: 5%;
        &:hover{
            background-color: $color-logo;
        }
    }

    //SLIDER
    #slider>li {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    ul.slider{
    position: relative;
    width: $width-100;
    height: 300px;
    margin-top: 50px;
    }

    ul.slider li {
        position: absolute;
        left: 0px;
        top: 0px;
        opacity: 0;
        width: inherit;
        height: inherit;
        transition: opacity .5s;
        background:#fff;
    }

    ul.slider li img{
    width: $width-100;
    height: 300px;
    object-fit: cover;
    }

    ul.slider li:first-child {
        opacity: 1; 
    }

    ul.slider li:target {
        opacity: 1; 
    }

    .menu{
    text-align: center;
    margin: 20px;
    }

    .menu li{
    display: inline-block;
    text-align: center;
    }

    .menu li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: grey;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: $width-100;
    -webkit-border-radius: $width-100;
    -moz-border-radius: $width-100;
    -ms-border-radius: $width-100;
    -o-border-radius: $width-100;
    }

    //FORMULARIO
    .formularioSM{
        display: none;
    }
    .formulario{
        margin-top: 30px;
        padding: 35px;
        background-color: $back-formulario;
    }
    .formulario>h1{
        color: $back-nav;
    }
    .formulario>h3{
        color: $letra-formulario;
    }
    .formulario>h1,.formulario>h3{
        text-align: center;
    }
    .formulario>div{
        margin-left: 20px;
        margin-bottom: 25px;
        width: $width-100;
        display: flex;
        flex-wrap: wrap;
    }
    .formulario>div>div{
        width: $width-50;
    }
    .opciones>h5{
        width: 94%;
        color: $back-nav;
    }
    .formulario>div>button{
        padding: 1rem;
        width: 150px;
        background-color: $back-nav;
        color: $color-blanco;
        border-radius: 5%;
        -webkit-border-radius: 5%;
        -moz-border-radius: 5%;
        -ms-border-radius: 5%;
        -o-border-radius: 5%;
        margin-left: 70%;
        &:hover{
            background-color: $letra-formulario;
        }
    }
    label{
        font-weight: bold;
    }
    .input,select,textarea{
        margin-top: 10px;
        width: $width-80;
    }
    label,input,select,option{
        color: $back-nav;
        font-size: 20px;
    }

    //PREGUNTAS FRECUENTES
    #profesionales{
        margin-top: 50px;
    }
    #profesionales>h1{
        color: $back-nav;
        text-align: center;
    }
    #profesionales>div>h3{
        padding: 0.5rem;
        text-align: center;
        background-color: $back-permisos;
        color: $back-nav;
        width: $width-100;
        border-radius: 5%;
        -webkit-border-radius: 5%;
        -moz-border-radius: 5%;
        -ms-border-radius: 5%;
        -o-border-radius: 5%;
    }
    #profesionales>div>div>p{
        text-align: justify;
        width: $width-100;
    }
    .p1,.p2,.p3,.p4,.p5 {
        position: relative;
        display: inline-block;
        width: $width-100;
    }
    
    .dropdown-p1,.dropdown-p2,.dropdown-p3,.dropdown-p4,.dropdown-p5 {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
    }
    
    .p1:hover .dropdown-p1,.p2:hover .dropdown-p2,.p3:hover .dropdown-p3,
    .p4:hover .dropdown-p4,.p5:hover .dropdown-p5 {
        display: block;
    }

    //FOOTER
    .footerSm{
        display: none;
    }
    footer{
        background-color: $back-nav;
    }
    .miniMenu{
        display: flex;
        flex-wrap: wrap;
        color: $color-blanco;
    }
    #cocheMini{
        width: 30px;
        height: 30px;
        padding-top: 30px;
        padding-left: 30px;
        padding-bottom: 30px;
        padding-right: 10px;
    }
    #logo2{
        width: 200px;
        height: 50px;
        padding-bottom: 20px;
    }
    .miniMenu>div{
        width: 30%;
        padding-left: 3%;
    }
    .miniMenu>div>a,#telef>a{
        color: $color-blanco;
    }
    #icons>img{
        width: 6%;
        height: 20px;
        margin-right: 5px;
        margin-top: 10px;
    }
    #icons>p,#icons>a>p,#telef{
        font-size: 13px;
        width: 90%;
    }
    #telef{
        display: flex;
        flex-wrap: wrap;
    }
    #icons{
        display: flex;
        flex-wrap: wrap;
    }
    .barrita{
        margin-left: 10px;
        margin-right: 10px;
    }
    .footer2>div>p{
        margin-top: 15px;
    }
    .footer2{
        padding: 0.8rem;
        background-color: $color-footer2;
        color: $color-blanco;
        font-size: 0.6rem;
        display: flex;
        flex-wrap: wrap;
    }
    .footer2>div{
        width: $width-50;
    }
    .footer2>div>img{
        height: 30px;
        width: 30px;
    }
    .email{
        margin-left: 70%;
    }

    //INFO PERMISOS
    .infoPermisos{
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
    }
    .turismo>h1{
        text-align: center;
        color: $back-nav;
    }
    .turismo>h2{
        text-align: right;
        color: $letra-formulario;
    }
    .infoPermisos>div{
        width: $width-50;
    }
    .turismo>h3{
        text-align: justify;
        color: $back-nav;
    }
    .infoPermisos>div>img{
        width: $width-80;
    }

    //DESCRIPCIÓN PERMISOS
    .descripcionPermisos{
        background-color: $back-formulario;
        padding: 30px;
    }
    .descripcionPermisos>h1{
        color: $back-nav;
        text-align: center;
    }
    .descripcionPermisos2{
        display: flex;
        flex-wrap: wrap;
    }
    .descripcionPermisos2>div{
        width: 45%;
        padding-left: 3%;
    }
    .descripcionPermisos2>div>h4,.descripcionPermisos2>div>div>h4{
        color: $letra-formulario;
    }
    .descripcionPermisos2>div>ul,.descripcionPermisos2>div>div>ul{
        color: $back-nav;
    }
}