$grey:rgba(175, 175, 175, 0.747);
$grey2:rgb(179, 179, 179);
$white:white;
$black:black;
$verde:rgba(0, 128, 0, 0.26);
$rojo:rgba(255, 0, 0, 0.247);
$morado:rgba(128, 0, 128, 0.247);
$cyan:rgba(0, 255, 255, 0.226);
$amarillo:rgba(255, 255, 0, 0.233);
$gris: rgba(175, 175, 175, 0.747);
$naranja:rgba(255, 166, 0, 0.199);
$link-normal: blue;
$link-hover: yellow;
$link-visited: green;
$link-active: black;
$back:rgba(240, 140, 140, 0.315);
$back2: rgb(240, 140, 140);
$light-theme:true;
$dark-theme:true;

$container-width:90%;
$margin-container:5%;
$margin-bottom:50px;
$margin-top:30px;
$img-h-w:200px;
$height:300px;
$h2:400px;
$width:50%;
$w1:40%;
$w2:60%;
$w3:30%;
$w4:100%;
$div-width:80%;
$margin-div:10%;
$radio:50%;